"  <form (submit)="registerUser($event)">
    <div class="container">
    <h1>Register</h1>

    <label><b>Username</b></label>
    <input type="text" name="username" placeholder="Enter name" required>

    <label><b>Password</b></label>
    <input type="password" name="password" placeholder="Enter Password"  required>
    
    <label><b>First Name</b></label>
    <input type="text" name="firstname" placeholder="Enter First name"  required>
    
    <label><b>Last Name</b></label>
    <input type="text" name="lastname" placeholder="Enter Last name" required>

    <button type="submit" value="regsiter"><b>Register</b></button>
  </div>
</form> 
<div class="log">
    <a routerLink="/login"> Login</a> 
</div>
